setting-name; setting-value
include; "../../Global-Config.cnf"
# ===========================================================================
# === LOCAL_ONLY from Global-Config.cnf =====================================
# ===========================================================================
ptn_name; "Grid-Detailed"
period_length; 3600
time_units_per_minute; 60
ptn_draw_conversion_factor; 0.1
lpool_coordinate_factor; 5
sl_radius; 0
# speed of the vehicles in km/h
gen_vehicle_speed; 20
gen_conversion_length; 1
gen_conversion_coordinates; 0.02
ean_default_minimal_waiting_time; 20
ean_default_maximal_waiting_time; 180
ean_default_minimal_change_time; 180
ean_default_maximal_change_time; 3779
ean_change_penalty; 300
# interpolated from Load.giv.nominal
gen_passengers_per_vehicle; 70
# ===========================================================================
# === Network Specific Settings =============================================
# ===========================================================================
stops_header; "stop-id; short-name; long-name; x-coordinate; y-coordinate"
odptn_missing_values; "GLOBAL_MEAN_VALUE"
lpool_evaluate_average_traveling_time_lower_bound; true
# ===========================================================================
# === State / Experiments / Automatization ==================================
# ===========================================================================
include_if_exists; "State-Config.cnf"
include_if_exists; "Private-Config.cnf"
include_if_exists; "After-Config.cnf"
