sl_model; all
console_log_level; DEBUG
tim_pesp_cb_timelimit; 60
tim_eval_extended; true
console_log_level; DEBUG
lc_solver; GUROBI
ean_eval_extended; true
tim_eval_extended; true
rollout_whole_trips; true
default_perceived_travel_time_output; "perceived_travel_time_output.tim"
console_log_level; DEBUG
lc_solver; GUROBI
ean_eval_extended; true
tim_eval_extended; true
#ean_use_walking; true
rollout_whole_trips; true
default_perceived_travel_time_output; "perceived_travel_time_output.tim"
vs_depot_index; -1
vs_vehicle_costs; 100
load_generator_fixed_upper_frequency; 100
lc_budget; 10000
tim_pesp_cb_timelimit; 120
vs_turn_over_time; 180
lc_model; direct
lc_direct_optimize_costs; true
lc_mult_relation; 0.01
lpool_min_edges; 10
lpool_min_distance_leaves; 300
lpool_min_cover_factor; 4
lpool_max_cover_factor; 7
lpool_ratio_od; 0.8
console_log_level; DEBUG
lc_solver; GUROBI
ean_eval_extended; true
tim_eval_extended; true
#tim_eval_walking; true
#ean_use_walking; true
rollout_whole_trips; true
default_perceived_travel_time_output; "perceived_travel_time_output.tim"
vs_depot_index; -1
vs_vehicle_costs; 100
load_generator_fixed_upper_frequency; 100
lc_budget; 10000
tim_pesp_cb_timelimit; 120
vs_turn_over_time; 180
sl_model; all
sl_max_walking_amount; 2
sl_max_walking_time; 1800
lpool_costs_edges; 0
lc_timelimit; 120
lpool_restrict_terminals; True
ean_respect_change_stations; True
lpool_add_shortest_paths; False
lpool_model; "tree_based"
console_log_level; DEBUG
lc_solver; GUROBI
ean_eval_extended; true
tim_eval_extended; true
#tim_eval_walking; true
#ean_use_walking; true
rollout_whole_trips; true
default_perceived_travel_time_output; "perceived_travel_time_output.tim"
vs_depot_index; -1
vs_vehicle_costs; 100
load_generator_fixed_upper_frequency; 100
lc_budget; 10000
tim_pesp_cb_timelimit; 120
vs_turn_over_time; 180
sl_model; all
sl_max_walking_amount; 2
sl_max_walking_time; 1800
lpool_costs_edges; 0
lc_timelimit; 120
lpool_restrict_terminals; True
ean_respect_change_stations; True
lpool_add_shortest_paths; False
lpool_model; "tree_based"
lc_mult_relation; 0.3
lc_model; direct
lc_direct_optimize_costs; true
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 1
ean_individual_station_limits; False
tim_model; MATCH
vs_model; IP
ean_individual_station_limits; False
tim_model; MATCH
vs_model; IP
console_log_level; DEBUG
lc_solver; GUROBI
ean_eval_extended; true
tim_eval_extended; true
#tim_eval_walking; true
#ean_use_walking; true
rollout_whole_trips; true
default_perceived_travel_time_output; "perceived_travel_time_output.tim"
vs_depot_index; -1
vs_vehicle_costs; 100
load_generator_fixed_upper_frequency; 100
lc_budget; 10000
tim_pesp_cb_timelimit; 120
vs_turn_over_time; 180
sl_model; all
sl_max_walking_amount; 2
sl_max_walking_time; 1800
lpool_costs_edges; 0
lc_timelimit; 120
lpool_restrict_terminals; True
ean_respect_change_stations; True
lpool_add_shortest_paths; False
lpool_model; "tree_based"
lc_budget; 40000
lc_model; direct
lc_direct_optimize_costs; true
lc_mult_relation; 0.01
lc_common_frequency_divisor; 1
lc_common_frequency_divisor; 1
ean_individual_station_limits; False
tim_model; MATCH
vs_model; IP
tim_model; cb_ip
vs_model; IP
ean_individual_station_limits; False
tim_model; MATCH
vs_model; IP
tim_model; cb_ip
